<!-- Toolbar -->
<mat-toolbar style="padding:0px;" role="heading" class="mat-elevation-z3">
    <div class="col-md-3 col-xs-6" style="display: flex;align-items: right; justify-content: center;" routerLink="/">
        <span>
        <img src="assets/cmtz.ico" style="padding-left:10px;padding-right:5px; margin-right:0px; vertical-align: middle;" width="48px" height="48px" />
          <span style="font-family: Lobster; color: #3b97f9" class="header-text">CertifiedMixtapes</span><span style="font-family: Lobster;" class="header-text"></span></span>
      </div>
      <div class="col-md-6 col-xs-6" >
        <div class="spacer"></div>
        <i style="vertical-align: middle;font-size: 48px; color: #3b97f9;" class="fa fa-github"></i>
      </div>
      <div class="col-md-3 col-xs-6" style="padding-left: 60%; display: flex;align-items: right; justify-content: center;">
          <a href="/songs">Top Songs</a>
      </div>
</mat-toolbar>

<router-outlet></router-outlet>
