
<div style="margin-left:20%;width:80%;padding-top:60px;">
<markdown># Embeddable Player</markdown>
<markdown>The embedded player allow external websites to stream and share music from certifiedmixtapes.com</markdown>

<markdown>## Mixtape Player</markdown>
<markdown>#### The following snippet is an example for embedding the mixtape audio player</markdown>
<markdown>
`<iframe src="/album/135887" scrolling="no" width="50%" height="500" scrollbars="no" frameborder="0"></iframe>`
</markdown>
<markdown>[Mixtape Embed Page](/album/135887)</markdown>
<div>
  <iframe src="/album/135887" scrolling="no" width="50%" height="500" scrollbars="no" frameborder="0"></iframe>
</div>



<markdown>## Single Player</markdown>
<markdown>#### The following snippet is an example for embedding the singles audio player</markdown>
<markdown>
`<iframe src="/single/135887" scrolling="no" width="50%" height="500" scrollbars="no" frameborder="0"></iframe>`
</markdown>
<markdown>[Single Embed Page](/single/493129)</markdown>


<div>
    <iframe src="/single/493129" scrolling="no" width="50%" height="500" scrollbars="no" frameborder="0"></iframe>
</div>

</div>
